.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: aquamarine;
}

.header img {
  width: 20px;
}

.nav {
  grid-area: n;
  background-color: rgb(119, 129, 129);
}

.content {
  grid-area: c;
  background-color: cadetblue;
}

.content img {
    width:700px; /* you can use % */
    height: auto;
}